Source: fastproxy
Section: misc
Priority: extra
Maintainer: Nikolay Bryskin <nbryskin@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), libudns-dev, libboost1.43-all-dev, python (>= 2.6)
Standards-Version: 3.9.1
Homepage: http://git.yandex.ru/nbryskin/fastproxy.git

Package: fastproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.6)
Description: Fast and reliable HTTP proxy server, no caching
 Fastproxy is simple, fast and reliable event-based HTTP proxy server
 with built-in stub DNS resolver. Written mostly in C++ and have
 some python startup scripts
