#!/usr/bin/make -f

%:
	dh $@

WAF = ./waf
PKGNAME := $(shell dh_listpackages)
VERSION := $(shell head -1 `pwd`/debian/changelog | sed 's/.*(\(.*\)).*/\1/')
DESTDIR := $(shell echo `pwd`/debian/)$(PKGNAME)
ERRORDIR := $(DESTDIR)/etc/$(PKGNAME)/errors

override_dh_auto_configure:
	$(WAF) configure --prefix=/usr
	$(WAF)

override_dh_auto_build:
	$(WAF) build

override_dh_auto_install:
	$(WAF) install --nopyc --nopyo --destdir=$(DESTDIR)
	for file in `ls $(ERRORDIR)`; do \
		sed -i"" 's/VERSION/$(VERSION)/' $(ERRORDIR)/$$file; \
	done
	dh_installinit --upstart-only -n

override_dh_clean:
	dh_clean
	-$(WAF) distclean
